@font-face {
	font-family: 'ServiceBook';
	src:url('fonts/ServiceBook.eot?-2wwgv6');
	src:url('fonts/ServiceBook.eot?#iefix-2wwgv6') format('embedded-opentype'),
		url('fonts/ServiceBook.ttf?-2wwgv6') format('truetype'),
		url('fonts/ServiceBook.woff?-2wwgv6') format('woff'),
		url('fonts/ServiceBook.svg?-2wwgv6#ServiceBook') format('svg');
	font-weight: normal;
	font-style: normal;
}

.sb-icon:before {
	font-family: 'ServiceBook';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="sb-"], [class*=" sb-"] {
	@extend .sb-icon;
}

.sb-account:before {
	content: "\e900";
}
.sb-add:before {
	content: "\e901";
}
.sb-addrecord:before {
	content: "\e902";
}
.sb-adduser:before {
	content: "\e903";
}
.sb-android:before {
	content: "\e904";
}
.sb-apple:before {
	content: "\e905";
}
.sb-auction:before {
	content: "\e906";
}
.sb-bonus:before {
	content: "\e907";
}
.sb-book:before {
	content: "\e908";
}
.sb-calendar:before {
	content: "\e909";
}
.sb-call:before {
	content: "\e90a";
}
.sb-car:before {
	content: "\e90b";
}
.sb-cars:before {
	content: "\e90c";
}
.sb-close:before {
	content: "\e90d";
}
.sb-cloud:before {
	content: "\e90e";
}
.sb-concept:before {
	content: "\e90f";
}
.sb-connect:before {
	content: "\e910";
}
.sb-dashboard:before {
	content: "\e911";
}
.sb-delete:before {
	content: "\e912";
}
.sb-down:before {
	content: "\e913";
}
.sb-drive:before {
	content: "\e914";
}
.sb-edit:before {
	content: "\e915";
}
.sb-engine:before {
	content: "\e916";
}
.sb-facebook:before {
	content: "\e917";
}
.sb-feedback:before {
	content: "\e918";
}
.sb-file:before {
	content: "\e919";
}
.sb-filter:before {
	content: "\e91a";
}
.sb-flat:before {
	content: "\e91b";
}
.sb-googleplus:before {
	content: "\e91c";
}
.sb-info:before {
	content: "\e91d";
}
.sb-insurance:before {
	content: "\e91e";
}
.sb-key:before {
	content: "\e91f";
}
.sb-licensed:before {
	content: "\e920";
}
.sb-linkedin:before {
	content: "\e921";
}
.sb-logo:before {
	content: "\e922";
}
.sb-love:before {
	content: "\e923";
}
.sb-mail:before {
	content: "\e924";
}
.sb-menu:before {
	content: "\e925";
}
.sb-message:before {
	content: "\e926";
}
.sb-mile:before {
	content: "\e927";
}
.sb-next:before {
	content: "\e928";
}
.sb-notice:before {
	content: "\e929";
}
.sb-offer:before {
	content: "\e92a";
}
.sb-old:before {
	content: "\e92b";
}
.sb-options:before {
	content: "\e92c";
}
.sb-password:before {
	content: "\e92d";
}
.sb-phone:before {
	content: "\e92e";
}
.sb-pics:before {
	content: "\e92f";
}
.sb-place:before {
	content: "\e930";
}
.sb-prev:before {
	content: "\e931";
}
.sb-print:before {
	content: "\e932";
}
.sb-promo:before {
	content: "\e933";
}
.sb-save:before {
	content: "\e934";
}
.sb-search:before {
	content: "\e935";
}
.sb-send:before {
	content: "\e936";
}
.sb-service:before {
	content: "\e937";
}
.sb-signout:before {
	content: "\e938";
}
.sb-stamp:before {
	content: "\e939";
}
.sb-stock:before {
	content: "\e93a";
}
.sb-switch:before {
	content: "\e93b";
}
.sb-twitter:before {
	content: "\e93c";
}
.sb-update:before {
	content: "\e93d";
}
.sb-valid:before {
	content: "\e93e";
}
.sb-view:before {
	content: "\e93f";
}
.sb-warning:before {
	content: "\e940";
}
.sb-warranty:before {
	content: "\e941";
}
.sb-windows:before {
	content: "\e942";
}
.sb-workshop:before {
	content: "\e943";
}
